
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #333;
  }
  
  h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
  }
  
  /* h2 {
    color: #4CAF50;
    text-align: center;
    margin: 20px 0;
  }
   */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"], select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  input[type="text"] {
    flex: 1;
  }
  
  button {
    padding: 10px 20px;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .business-item {
    background-color: lightgray;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .business-item h3 {
    margin: 0 0 10px;
    color: #333;
  }
  
  .business-item p {
    margin: 5px 0;
    color: #666;
  }
  
  .no-results {
    text-align: center;
    font-style: italic;
    color: #999;
  }
  